
  
  .site-layout .site-layout-background {
    background: rgb(255, 255, 255);
    height: 44px;
  }

  .sider {
    background-color: rgb(255, 255, 255);
  }

  .light{
    color: rgb(177, 177, 177);
  }

  .ecosystem{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
  }

  .findEcosystem{
    color: rgb(255, 255, 255);
    background-color: #929292;
  }

  .new{
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px;;
  }