.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
    height: 44px;
  }

  .sider {
    background-color: rgb(255, 255, 255);
  }

  .light{
    color: rgb(197, 196, 196);
  }

  .ecosystem{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0);
  }

  .findEcosystem{
    color: rgb(255, 255, 255);
    background-color: #929292;
  }